<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Songify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Songify.Properties.Settings>
      <setting name="directory" serializeAs="String">
        <value />
      </setting>
      <setting name="customOutput" serializeAs="String">
        <value>{artist} - {title}</value>
      </setting>
      <setting name="color" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="theme" serializeAs="String">
        <value>BaseLight</value>
      </setting>
      <setting name="showAlbumArt" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="customPauseEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="customPauseText" serializeAs="String">
        <value />
      </setting>
      <setting name="downloadAlbumArt" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="deleteAlbumArtOnpause" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="proxyHost" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyPort" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyUser" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyPass" serializeAs="String">
        <value />
      </setting>
    </Songify.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>