<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="Costura.Fody" version="2.0.1" targetFramework="net46" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net46" />
  <package id="Fody" version="3.0.3" targetFramework="net46" developmentDependency="true" />
  <package id="MahApps.Metro" version="1.6.1" targetFramework="net46" />
  <package id="MahApps.Metro.IconPacks" version="2.2.0" targetFramework="net46" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Octokit" version="0.29.0" targetFramework="net46" />
  <package id="Serilog" version="2.3.0" targetFramework="net46" />
  <package id="Serilog.Extensions.Logging" version="2.0.2" targetFramework="net46" />
  <package id="SpotifyAPI-NET" version="2.18.1" targetFramework="net46" />
  <package id="SuperSocket.ClientEngine.Core" version="0.10.0" targetFramework="net46" />
  <package id="System.Collections" version="4.0.11" targetFramework="net46" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net46" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net46" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net46" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net46" />
  <package id="System.Linq" version="4.3.0" targetFramework="net46" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net46" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net46" />
  <package id="System.Net.Security" version="4.3.0" targetFramework="net46" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net46" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net46" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net46" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net46" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net46" />
  <package id="System.Threading" version="4.3.0" targetFramework="net46" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net46" />
  <package id="ToastNotifications" version="2.2.5" targetFramework="net46" />
  <package id="ToastNotifications.Messages" version="2.2.5" targetFramework="net46" />
  <package id="TwitchLib" version="2.1.2" targetFramework="net46" />
  <package id="TwitchLib.Api" version="2.1.2" targetFramework="net46" />
  <package id="TwitchLib.Client" version="2.1.2" targetFramework="net46" />
  <package id="TwitchLib.PubSub" version="2.0.2" targetFramework="net46" />
  <package id="WebSocket4Net" version="0.15.2" targetFramework="net46" />
</packages>