<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Songify_Slim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Songify_Slim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.net>
    <defaultProxy enabled="false">
      <proxy autoDetect="True" />
    </defaultProxy>
  </system.net>
  <userSettings>
    <Songify_Slim.Properties.Settings>
      <setting name="directory" serializeAs="String">
        <value />
      </setting>
      <setting name="color" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="theme" serializeAs="String">
        <value>BaseLight</value>
      </setting>
      <setting name="autostart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="systray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="customPause" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="customPauseText" serializeAs="String">
        <value />
      </setting>
      <setting name="outputString" serializeAs="String">
        <value>{artist} - {title} {extra}               </value>
      </setting>
      <setting name="uuid" serializeAs="String">
        <value />
      </setting>
      <setting name="telemetry" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NBUserID" serializeAs="String">
        <value />
      </setting>
      <setting name="NBUser" serializeAs="String">
        <value />
      </setting>
      <setting name="Source" serializeAs="String">
        <value>"Spotify API"</value>
      </setting>
      <setting name="uploadSonginfo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChromeFetchRate" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="UploadHistory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveHistory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveAlbumCover" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RefreshToken" serializeAs="String">
        <value />
      </setting>
      <setting name="SplitString" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="TwAcc" serializeAs="String">
        <value />
      </setting>
      <setting name="TwOauth" serializeAs="String">
        <value />
      </setting>
      <setting name="TwChannel" serializeAs="String">
        <value />
      </setting>
      <setting name="TwRewardID" serializeAs="String">
        <value />
      </setting>
      <setting name="TwSRReward" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwSRCommand" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwSRMaxReq" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TwSRCooldown" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MsgLoggingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwAutoConnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ArtistBlacklist" serializeAs="String">
        <value />
      </setting>
    </Songify_Slim.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Songify_Slim.Properties.Settings>
      <setting name="webua" serializeAs="String">
        <value>Songify Data Provider</value>
      </setting>
    </Songify_Slim.Properties.Settings>
  </applicationSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Swan.Lite" publicKeyToken="30c707c872729fff" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
