<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Songify_Slim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Songify_Slim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.net>
    <defaultProxy enabled="false">
      <proxy autoDetect="True"/>
    </defaultProxy>
  </system.net>
  <userSettings>
    <Songify_Slim.Properties.Settings>
      <setting name="directory" serializeAs="String">
        <value/>
      </setting>
      <setting name="color" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="theme" serializeAs="String">
        <value>BaseLight</value>
      </setting>
      <setting name="autostart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="systray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="customPause" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="customPauseText" serializeAs="String">
        <value/>
      </setting>
      <setting name="outputString" serializeAs="String">
        <value>{artist} - {title} {extra}</value>
      </setting>
      <setting name="uuid" serializeAs="String">
        <value/>
      </setting>
      <setting name="telemetry" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NBUserID" serializeAs="String">
        <value/>
      </setting>
      <setting name="NBUser" serializeAs="String">
        <value/>
      </setting>
      <setting name="Source" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="uploadSonginfo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChromeFetchRate" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="UploadHistory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveHistory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveAlbumCover" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RefreshToken" serializeAs="String">
        <value/>
      </setting>
      <setting name="SplitString" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AccessToken" serializeAs="String">
        <value/>
      </setting>
      <setting name="TwAcc" serializeAs="String">
        <value/>
      </setting>
      <setting name="TwOauth" serializeAs="String">
        <value/>
      </setting>
      <setting name="TwChannel" serializeAs="String">
        <value/>
      </setting>
      <setting name="TwRewardID" serializeAs="String">
        <value/>
      </setting>
      <setting name="TwSRReward" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwSRCommand" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwSRMaxReq" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TwSRCooldown" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MsgLoggingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TwAutoConnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ArtistBlacklist" serializeAs="String">
        <value/>
      </setting>
      <setting name="PosX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PosY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoClearQueue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpotifyDeviceID" serializeAs="String">
        <value/>
      </setting>
      <setting name="UserBlacklist" serializeAs="String">
        <value/>
      </setting>
      <setting name="language" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="bot_Resp_Blacklist" serializeAs="String">
        <value>@{user} the Artist: {artist} has been blacklisted by the broadcaster.</value>
      </setting>
      <setting name="bot_Resp_Length" serializeAs="String">
        <value>@{user} the song you requested exceeded the maximum song length ({maxlength}).</value>
      </setting>
      <setting name="bot_Resp_IsInQueue" serializeAs="String">
        <value>@{user} this song is already in the queue.</value>
      </setting>
      <setting name="bot_Resp_MaxReq" serializeAs="String">
        <value>@{user} maximum number of songs in queue reached ({maxreq}).</value>
      </setting>
      <setting name="bot_Resp_Error" serializeAs="String">
        <value>@{user} there was an error adding your Song to the queue. Error message: {errormsg}</value>
      </setting>
      <setting name="bot_Resp_Success" serializeAs="String">
        <value>{artist} - {title} requested by @{user} has been added to the queue.</value>
      </setting>
      <setting name="spacesEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="spaces" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="UseOwnAppID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClientID" serializeAs="String">
        <value/>
      </setting>
      <setting name="ClientSecret" serializeAs="String">
        <value/>
      </setting>
      <setting name="MaxSongLength" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Debug" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GuidedSetup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="bot_Resp_NoSong" serializeAs="String">
        <value>@{user} please specify a song to add to the queue.</value>
      </setting>
      <setting name="AnnounceInChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bot_cmd_song" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bot_cmd_pos" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bot_cmd_next" serializeAs="String">
        <value>False</value>
      </setting>
    </Songify_Slim.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Songify_Slim.Properties.Settings>
      <setting name="webua" serializeAs="String">
        <value>Songify Data Provider</value>
      </setting>
    </Songify_Slim.Properties.Settings>
  </applicationSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Swan.Lite" publicKeyToken="30c707c872729fff" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0"/>
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="ControlzEx" publicKeyToken="69f1c32f803d307e" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
